body{
  font-size: 24pt;
  text-align: center;
  background-image: url("https://wallpaperplay.com/walls/full/6/8/f/25535.jpg");
  color: white;
  background-size: cover;
  width: 900px;
  margin: 0px auto;
}

header h1{
  text-decoration: underline;
}

main{
  border: black 1px solid;
  padding: 15px;
}

main h2{
  margin-top: 0px;
}

button{
  margin: 5px;
  padding: 10px;
  font-size: 25pt;
  box-shadow: 5px 5px #555;
}

button img{
  width: 60%;
  height: 60%;
}
